In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw02.ipynb")

# Homework 2: Arrays and Tables

Please complete this notebook by filling in the cells provided. Before you begin, execute the previous cell to load the provided tests.

In [ ]:
# Run this cell and ignore the output. It is checking to see if you ran the first cell! 
# If you get a NameError, please run the cell at the very TOP of this notebook!

#grader

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Readings:**
- [Arrays](https://inferentialthinking.com/chapters/05/1/Arrays.html)
- [What is Data Science?](http://www.inferentialthinking.com/chapters/01/what-is-data-science.html)
- [Causality and Experiments](http://www.inferentialthinking.com/chapters/02/causality-and-experiments.html) 
- [Programming in Python](http://www.inferentialthinking.com/chapters/03/programming-in-python.html)

For all problems that you must write explanations and sentences for, you **must** provide your answer in the designated space. Moreover, throughout this homework and all future ones, **please be sure to not re-assign variables throughout the notebook!** For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Otherwise, you will fail tests that you thought you were passing previously!


**Note: This homework has hidden tests on it. That means even though tests may say 100% passed, it doesn't mean your final grade will be 100%. We will be running more tests for correctness once everyone turns in the homework.**

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. Refer to the policies page to learn more about how to learn cooperatively.

You should start early so that you have time to get help if you're stuck.

## 1. Creating Arrays

In [ ]:
# Run this cell to set up the notebook, but please don't change it.

import numpy as np
from datascience import *
import d8error
import warnings
warnings.simplefilter('ignore', FutureWarning)

**Question 1.** Create an array called `strange_numbers` containing the following numbers (in the given order) **(4 Points)**:

1. `pi`
2. the floor of 25
3. the floor of `pi`
4. 10 plus the ceil of 8.3

*Hint:* `floor`, `ceil`, and `pi`  are functions in the `math` module. Importing modules is covered in Lab 2!

*Note:* Python lists are different/behave differently than NumPy arrays. In Math118, we use NumPy arrays, so please make an **array**, not a Python list.

In [ ]:
# Our solution involved one extra line of code before creating
# strange_numbers.
...
strange_numbers = ...
strange_numbers

In [ ]:
grader.check("q1_1")

**Question 2.** Make an array called `anime_characters` containing the following three strings: "Naruto", "Sasuke", and "and Sakura". **(4 Points)**

In [ ]:
anime_characters = ...
anime_characters

In [ ]:
grader.check("q1_2")

Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  Specifically, the value of `a_string.join(an_array)` is a single string that's the [concatenation](https://en.wikipedia.org/wiki/Concatenation) ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each string.

**Question 3.** Use the array `anime_characters` and the method `join` to make two strings **(4 Points)**:

1. "Naruto, Sasuke, and Sakura" (call this one `with_commas`)
2. "Naruto Sasuke and Sakura" (call this one `without_commas`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"math118".join(anime_characters)` .

In [ ]:
with_commas = ...
without_commas = ...

# These lines are provided just to print out your answers.
print('with_commas:', with_commas)
print('without_commas:', without_commas)

In [ ]:
grader.check("q1_3")

## 2. Indexing Arrays

These exercises give you practice accessing individual elements of arrays.  In Python (and in many programming languages), each element is accessed by its *index*; for example, the first element is the element at index 0. Indices must be **integers**.

***Note:* If you have previous coding experience, you may be familiar with bracket notation. DO NOT use bracket notation when indexing (i.e. `arr[0]`), as this can yield different data type outputs than what we will be expecting. This can cause you to fail an autograder test.**

Be sure to refer to the [Python Reference](http://data8.org/sp22/python-reference.html) on the website if you feel stuck!

**Question 1.** The cell below creates an array of some numbers.  Set `third_element` to the third element of `random_numbers`. **(4 Points)**

In [ ]:
random_numbers = make_array(-2, -4, -6, -10, -16)

third_element = ...
third_element

In [ ]:
grader.check("q2_1")

**Question 2.** The next cell creates a table that displays some information about the elements of `random_numbers` and their order.  Run the cell to see the partially-completed table, then fill in the missing information (the cells that say "Ellipsis") by assigning `blank_a`, `blank_b`, `blank_c`, and `blank_d` to the correct elements in the table. **(4 Points)**

*Hint:* Replace the `...` with strings or numbers. As a reminder, indices should be **integers**.

In [ ]:
blank_a = ...
blank_b = ...
blank_c = ...
blank_d = ...
elements_of_random_numbers = Table().with_columns(
    "English name for position", make_array(blank_a, "second", "third", "fourth", blank_b),
    "Index",                     make_array(blank_c, 1, 2, 3, blank_d),
    "Element",                   random_numbers)
elements_of_random_numbers

In [ ]:
grader.check("q2_2")

**Question 3.** You'll sometimes want to find the **last** element of an array.  Suppose an array has 200 elements.  What is the index of its last element? **(4 Points)**

In [ ]:
index_of_last_element = ...

In [ ]:
grader.check("q2_3")

More often, you don't know the number of elements in an array, its *length*.  (For example, it might be a large dataset you found on the Internet.)  The function `len` takes a single argument, an array, and returns an integer that represents the `len`gth of that array.

**Question 4.** The cell below loads an array called `world_population_years`.  Calling `tbl.column(...)` on a table returns an array of the column specified, in this case the `Year` column of the `world_population_years` table. The last element in that array is the most recent years  of all the world population. Assign the **second most** recent year to `second_most_recent_population_year`. **(4 Points)**

In [ ]:
world_population_years = Table.read_table("world_population.csv").column('Year')

second_most_recent_population_year= ...
second_most_recent_population_year

In [ ]:
grader.check("q2_4")

**Question 5.** Finally, assign `min_of_population_years` to the minimum of the first, eighth, and last population years listed in `world_population_years`. **(4 Points)**

In [ ]:
min_of_population_years = ...
min_of_population_years

In [ ]:
grader.check("q2_5")

## 3. Basic Array Arithmetic

**Question 1.** Divide the numbers 50, -505, 505050505, and 250 by 10. Assign each variable below such that `first_division` is assigned to the result of $50 // 10$, `second_division` is assigned to the result of $-505 // 10$, and so on. **(4 Points)**

*Note*: For this question, **don't** use arrays.

*Note*: Use the double slash operator `//` for this entire question. This operator `//` performs floor division by dividing the first number by the second number and rounding down the result to the nearest integer (whole number).

In [ ]:
first_division = ...
second_division = ...
third_division = ...
fourth_division = ...
print("First Division:", first_division)
print("Second Division:", second_division)
print("Third Division:", third_division)
print("Fourth Division:", fourth_division)

In [ ]:
grader.check("q3_1")

**Question 2.** Now, do the same calculation, but using an array called `digits` and only a single division n (`//`) operator.  Store the 4 results in an array named `divisions`. **(4 Points)**

In [ ]:
digits = ...
divisions = ...
divisions

In [ ]:
grader.check("q3_2")

**Question 3.** Darn it, we made a mistake!  Instead of 10, we wanted to divide each number by 5.  Compute the correct divisions in the cell below using array arithmetic.  Notice that your job is really easy if you previously defined an array containing the 4 numbers. **(4 Points)**

Note! use `//`.

In [ ]:
correct_division = ...
correct_division

In [ ]:
grader.check("q3_3")

**Question 4.** We've loaded an array of temperatures in the next cell.  Each number is the highest temperature observed on a day at a climate observation station, mostly from the US.  Since they're from the US government agency [NOAA](https://www.noaa.gov/), all the temperatures are in Fahrenheit.

Convert all the temperatures to Kelvin by first subtracting 32 from them, then multiplying the results by $\frac{5}{9}$, then adding 273.15 ie. Here is the formula $K = (F - 32) * \frac{5}{9} + 273.15$. After converting the temperatures to Kelvin, make sure to **ROUND** the final result  to the nearest integer using the `np.round` function. **(4 Points)**

In [ ]:
min_temperatures = Table.read_table("temperatures.csv").column("Daily Min Temperature")

kelvin_min_temperatures = ...
kelvin_min_temperatures

In [ ]:
grader.check("q3_4")

**Question 5.** The cell below loads all the *maximum* temperatures from each day (in Fahrenheit).  Compute the daily temperature range for each day. That is, compute the difference between each daily maximum temperature and the corresponding daily minimum temperature.  **Pay attention to the units and give your answer in Kelvin!** Make sure **NOT** to round your answer for this question! **(4 Points)**

*Note:* Remember that in Question 4, `kelvin_min_temperatures` was rounded, so you might not want to use that variable in this question.

In [ ]:
max_temperatures = Table.read_table("temperatures.csv").column("Daily Max Temperature")

kelvin_temperature_ranges = ...
kelvin_temperature_ranges

In [ ]:
grader.check("q3_5")

## 4. Old Faithful

Old Faithful is a geyser in Yellowstone that erupts every 44 to 125 minutes (according to [Wikipedia](https://en.wikipedia.org/wiki/Old_Faithful)). People are [often told that the geyser erupts every hour](http://yellowstone.net/geysers/old-faithful/), but in fact the waiting time between eruptions is more variable. Let's take a look.

**Question 1.** The first line below assigns `waiting_times` to an array of 272 consecutive waiting times between eruptions, taken from a classic 1938 dataset. Assign the names `shortest`, `longest`, and `average` so that the `print` statement is correct. **(4 Points)**

In [ ]:
waiting_times = Table.read_table('old_faithful.csv').column('waiting')
waiting_times

shortest = ...
longest = ...
average = ...

print("Old Faithful erupts every", shortest, "to", longest, "minutes and every", average, "minutes on average.")

In [ ]:
grader.check("q4_1")

**Question 2.** Assign `biggest_increase` to the biggest increase in waiting time between two consecutive eruptions. For example, the second eruption occurred after 54 minutes and the third after 74 minutes, so the increase in waiting time was 74 - 54 = 20 minutes. **(4 Points)**

*Hint*: We want to return the biggest increase.

*Note*: `np.diff()` calculates the difference between subsequent values in an array. For example, calling `np.diff()` on the array `make_array(1, 8, 3, 5)` evaluates to `array([8 - 1, 3 - 8, 5 - 3])`, or `array([7, -5, 2])`.

In [ ]:
# np.diff() calculates the difference between subsequent values  
# in a NumPy array.
differences = np.diff(waiting_times)
biggest_increase = ...
biggest_increase

In [ ]:
grader.check("q4_2")

**Question 3.** The `faithful_with_eruption_nums` table contains two columns: `eruption_number`, which represents the number of that eruption, and `waiting`, which represents the time spent waiting after that eruption. For example, take the first two rows of the table:

| eruption number | waiting |
|-----------------|---------|
| 1               | 79      |
| 2               | 54      |

We can read this as follows: after the first eruption, we waited 79 minutes for the second eruption. Then, after the second eruption, we waited 54 minutes for the third eruption.

Suppose Yuji and Megumi started watching Old Faithful at the start of the first eruption. Assume that they watch until the end of the seventh eruption. For some of that time they will be watching eruptions, and for the rest of the time they will be waiting for Old Faithful to erupt. How many minutes will they spend on average waiting between eruptions? **(4 Points)**

*Hint #1:* One way to approach this problem is to use the `take` or `where` method on the table `faithful_with_eruption_nums`. 

*Hint #2:* `first_six_waiting_times` must be an array.

In [ ]:
# The following two lines load in our faithful_with_eruption_nums table
faithful = Table.read_table('old_faithful.csv').drop("eruptions")
faithful_with_eruption_nums = faithful.with_column("eruption number", np.arange(faithful.num_rows) + 1).select(1, 0)

first_six_waiting_times = ...
total_waiting_time_until_seventh = ...
total_waiting_time_until_seventh

In [ ]:
grader.check("q4_3")

**Question 4.** Letâ€™s imagine your guess for the next waiting time was always just the length of the previous waiting time. If you always guessed the previous waiting time, how big would your error in guessing the waiting times be, on average? **(4 Points)**

For example, since the first four waiting times are 79, 54, 74, and 62, the average difference between your guess and the actual time for just the second, third, and fourth eruptions would be $\frac{|79-54|+ |54-74|+ |74-62|}{3} = 19$.

In [ ]:
differences = np.diff(waiting_times)
average_error = ...
average_error

In [ ]:
grader.check("q4_4")

## 5. Tables

**Question 1.** Create a table that illustrates that you have 12 bananas, 9 pineapples, and 6 peaches(Perhaps you're using Python to create a grocery list).  It should have two columns: `fruit` and `quantity`.  Assign the new table to the variable `grocery_fruits`. **(4 Points)**

*Note:* Use lower-case and singular words for the name of each fruit, like `"banana"`.

In [ ]:
# Our solution uses 1 statement split over 3 lines.
grocery_fruits = ...
        ...
        ...
grocery_fruits

In [ ]:
grader.check("q5_1")

**Question 2.** The file `inventory.csv` contains information about the inventory of fruit at a grocery store.  Each row represents the contents of one box of fruit. Load it as a table named `fruit_inventory` using the `Table.read_table()` function. `Table.read_table(...)` takes one argument (data file name in string format) and returns a table. **(4 Points)**

In [ ]:
fruit_inventory = ...
fruit_inventory

In [ ]:
grader.check("q5_2")

**Question 3.** Does strawberry appear more than three times in the `fruit_inventory` table? Set `straw_three_times` to `True` if strawberry appear more than three times or to `False` if it does not. **(4 Points)**

*Hint:* You don't have to write code to calculate the True/False value for `straw_three_times`. Just look at the `fruit_inventory` table and assign `straw_three_times` to either `True` or `False` according to what you can see from the table in answering the question.

In [ ]:
straw_three_times = ...
straw_three_times

In [ ]:
grader.check("q5_3")

**Question 4.** The file `sales.csv` contains the number of fruit sold from each box last Saturday.  It has an extra column called `price per fruit ($)` that's the price *per item of fruit* for fruit in that box.  The rows are in the same order as the `fruit_inventory` table.  Load these data into a table called `sales`. **(5 Points)**

In [ ]:
sales = ...
sales

In [ ]:
grader.check("q5_4")

**Question 5.** How many strawberries did the store sell in total on that day? **(5 Points)**

In [ ]:
strawberry_sold = ...
strawberry_sold

In [ ]:
grader.check("q5_5")

**Question 6.** What was the store's total strawberry revenue (the total price of all strawberries sold) on that day in DOLLARS? **(5 Points)**

*Hint:* If you're stuck, think first about how you computed strawberry sales in previous problem. How might you used that code to form new code here?

*Hint:* Round your answer to the nearest **dollar**.

In [ ]:
strw_total_revenue = ...

strawberry_total_revenue = round(strw_total_revenue)
strawberry_total_revenue

In [ ]:
grader.check("q5_6")

*Question 7.** Make a new table called `remaining_straw_inventory`.  It should have the same rows and columns as `fruit_inventory`, except that the amount of strawberries sold from each box should be subtracted from that strawberries box's **original** count, so that the `count` column is **updated to be** the amount of strawberries remaining after Saturday. **(5 Points)**

In [ ]:
remaining_straw_inventory = ...
    ...
    ...
    ...
remaining_straw_inventory

In [ ]:
grader.check("q5_7")

You're done with Homework 2!  

**Important submission steps:** 
1. Run the tests and verify that they all pass.
2. Choose **Save Notebook** from the **File** menu, then **run the final cell**. 
3. Click the link to download the zip file.
4. Then submit the zip file to the corresponding assignment according to your instructor's directions. 

**It is your responsibility to make sure your work is saved before running the last cell.**

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)