In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw04.ipynb")

# Homework 4: Functions, Tables, and Groups

Please complete this notebook by filling in the cells provided. Before you begin, execute the previous cell to load the provided tests.

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Readings**: 

* [Visualizing Numerical Distributions](https://www.inferentialthinking.com/chapters/07/2/Visualizing_Numerical_Distributions.html)
* [Functions and Tables](https://www.inferentialthinking.com/chapters/08/Functions_and_Tables.html)

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to setup the notebook by importing some helpful libraries. Each time you start your server, you will need to execute this cell again.

For all problems that you must write explanations and sentences for, you **must** provide your answer in the designated space. **Moreover, throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook!** For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Otherwise, you will fail tests that you thought you were passing previously!


**Note: This homework has hidden tests on it. That means even though the tests may say 100% passed, it doesn't mean your final grade will be 100%. We will be running more tests for correctness once everyone turns in the homework.**


Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

You should start early so that you have time to get help if you're stuck.

## 1. Game On: Analyzing the Gaming Industry

In [ ]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *
import d8error

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import warnings
warnings.simplefilter('ignore', FutureWarning)
warnings.filterwarnings("ignore")

Dream Craft Studios, a game development studio is planning to create a new video game and wants to conduct market analysis to make informed decisions about the game's potential sales performance in the North American and European markets. Their Partner, Gaming Metrics Market Research Firm, has provided them with two comprehensive datasets containing valuable information on platform, genre, and current sales performance from previous games, collected (and cleaned from): https://www.kaggle.com/datasets/gregorut/videogamesales

The following cell reads in a table called `sales` which contains North American, European and Global Sales (all in millions).


It also reads in a table called `game_specs` which contains the Platform, Year, Genre, and Publisher for each game.

In [ ]:
#Just run this cell
sales = Table.read_table("sales.csv").drop(0)
sales.show(5)
game_specs = Table.read_table("game_specs.csv").drop(0)
game_specs.show(5)

**Question 1.** It would be easier if we could combine the information in both tables. Assign `games` to the result of joining the two tables together, so that we have a table that with the sales information and specifications for each corresponding game. Each unit of sales (NA_Sales, etc.) is associated with a corresponding gaming platform (Wii, etc.). **(8 Points)**

*Note:* It doesn't matter which table you put in as the argument to the table method, either order will work for the autograder tests.

*Hint:* If you need help on using the `join` method, refer to the [Python Reference Sheet](http://data8.org/sp22/python-reference.html) or [Section 8.4](https://www.inferentialthinking.com/chapters/08/4/Joining_Tables_by_Columns.html) in the textbook. Also, note that your joined table should have more than twice as many rows as the initial tables.

In [ ]:
games = ...
games.show(5)

In [ ]:
grader.check("q1_1")

<!-- BEGIN QUESTION -->

**Question 2.** Let's look at how the sales in North America compare to the sales in Europe using the `games` table. First, assign `na_and_eu` to a table only containing the columns `NA_Sales` and `EU_Sales`. Then, make a scatter plot with European sales on the x-axis and the North American sales on the y-axis. **(8 Points)**

In [ ]:
na_and_eu = ...
...

# Don't change/edit/remove the following line.
# To help you make conclusions, we have plotted a straight line on the graph (y=x).
plt.xlim(2, 10)
plt.ylim(2, 10)

# Plotting the y=x line
plt.plot([0, 10], [0, 10], color='red', linestyle='--')

plt.show();

In [ ]:
grader.check("q1_2")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 3.** Looking at the scatter plot you just made in Question 1.2, do you notice any pattern(s) (i.e. is one of the two types of sales consistently higher than the other one)? If so, describe them **briefly** in the cell below. **(8 Points)**

_Type your answer here, replacing this text._

<!-- END QUESTION -->

Here's a refresher on how `.group` works! You can read how `.group` works in the [textbook](https://www.inferentialthinking.com/chapters/08/2/Classifying_by_One_Variable.html), or you can view the video below. The video resource was made by a past UC Berkeley staff member, Divyesh Chotai!

You can also use the [Table Functions Visualizer](http://data8.org/interactive_table_functions/) to get some more hands-on experience with the `.group` function.

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("HLoYTCUP0fc")

**Question 4.** There is a variety of FIFA games in the `games` table. As part of Dream Craft Studios's market analysis, we are interested in finding out which FIFA game has the lowest average sales in the European market. 

Create a new table with two columns: the first column should list the names of the FIFA games, and the second column should display the average sales for each game using EU_Sales data.  **In your calculations, you should only compare games that contain the word "FIFA".** For example, there is "FIFA 17", "FIFA 06 Soccer", "2014 FIFA World Cup Brazil", etc. **(9 Points)**

*Hint:* If multiple platforms released the same "2002 FIFA World Cup" game, what table method can we use to aggregate those together and find the average sales?

*Note:* For reference, the staff solution only used one line. However, feel free to break up the solution into multiple lines and steps; just make sure you assign the final output table to `fifa_games`!

In [ ]:
fifa_games = ...
fifa_games

In [ ]:
grader.check("q1_4")

**Question 5.** Given this new table `fifa_games`, Dream Craft Studios wants to figure out the name of the FIFA Game with the lowest overall average European Sales. Assign `lowest_sold_fifa_game` to a line of code that outputs the string that represents the name of the FIFA Game with the lowest overall average European Sales. *If multiple FIFA games satisfy this criteria, you can output any one of them.* **(8 Points)**

In [ ]:
lowest_sold_fifa_game = ...
lowest_sold_fifa_game

In [ ]:
grader.check("q1_5")

<!-- BEGIN QUESTION -->

**Question 6.** Dream Craft Studios wants to know which year had the most game releases. Plot a histogram that visualizes the distribution of release years for the games in the `games` table. Also use the provided `bins` variable when making your histogram, so that the histogram is more visually informative. **(8 Points)**

In [ ]:
# Create a Histogram
bins = np.arange(1980, 2021, 2)

# Please also use the provided bins
...

<!-- END QUESTION -->

**Question 7.** What percentage of games were released after 2014? Assign `released_after_2014` to your answer, which should be between 0 and 100. You should only use the histogram above to answer the question. Do not use code on the table to to find the answer, just eyeball the heights and use Python to evaluate your arithmetic! **(8 Points)**

*Note*: Your answer does not have to be exact, but it should be within a couple percentages of the staff answer.

In [ ]:
released_after_2014 = ...

In [ ]:
grader.check("q1_7")

## 2. Jobs in Data Salary Analysis

This exercise is designed to give you practice with using the Table methods `.pivot` and `.group`. Here is a link to the [Python Reference Sheet](http://data8.org/sp22/python-reference.html) in case you need a quick refresher. The [Table Function Visualizer](http://data8.org/interactive_table_functions/) may also be a helpful tool.

Run the cell below to view a demo on how you can use pivot on a table. (Thank you to past UC Berkeley staff Divyesh Chotai!)

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("4WzXo8eKLAg")

The data source we will use within this portion of the homework is [publicly provided](https://www.kaggle.com/datasets/hummaamqaasim/jobs-in-data) by Kaggle. We have filtered it to retain just the relevant columns and restricted the data to data jobs within the United States. Run the following cell to load our data into a table called `data_jobs`.

In [ ]:
data_jobs = Table.read_table("data_jobs.csv").drop(0)
data_jobs.show(5)

In [ ]:
data_jobs.num_rows

The table provides information on individuals within the data job landscape, with each entry representing a distinct role in the field.

The first four columns describe the individual's job title, job category, salary, and experience level. For example, the individual in the third row of the table is a "Data Scientist". We will call this the individual's *position* or *job title*. The job was in a job category called "Data Science and Research" (hence the Data Scientist title), and has a salary of 212k (USD) in a Senior-Level role. You will mostly be working with the `job_title` column.

The next three columns contain the employment type, work setting, and company size.

For this homework, we will be using the following columns:
1. `job_title`: The specific title of the job role, like **'Data Scientist'**, **'Data Engineer'**, or **'Data Analyst'**.
2. `job_category`: A classification of the job role into broader categories for easier analysis. This might include areas like **'Data Analysis'**, **'Machine Learning'**, **'Data Engineering'**, etc.
3. `experience_level`: Classifies the professional experience level of the employee. 
4. `salary`: The annual gross salary of the role in United States Dollars (USD).


Run the following cell to select the relevant columns and create a new table named `jobs`.

In [ ]:
jobs = data_jobs.select("job_title", "job_category", "experience_level",  "salary")
jobs.show(5)

We want to use this table to generate arrays with the job titles of the members of each **Organization Group**.

**Question 1.** Set `job_titles` to a table with two columns. The first column should be called `job_title` and have the name of every "job title" once, and the second column should be called `experience` with each row in that second column containing an *array* of the names of all the experience levels within that "job title". Don't worry if there are multiple of the same experience levels. **(9 Points)**

*Hint:* Think about how `group` works: it collects values into an array and then applies a function to that array. We have defined two functions below for you, and you will need to use one of them in your call to `group`.

In [ ]:
# Pick one of the two functions defined below in your call to group.
def first_item(array):
    '''Returns the first item'''
    return array.item(0)

def full_array(array):
    '''Returns the array that is passed through'''
    return array 

# Make a call to group using one of the functions above when you define job_titles
job_titles = ...
job_titles

In [ ]:
grader.check("q2_1")

#### Understanding the code you just wrote in 2.1 is important for moving forward with the class! If you made a lucky guess, take some time to look at the code, step by step. Office hours is always a great resource!

<!-- BEGIN QUESTION -->

**Question 2.** At the moment, the `job_title` column of the `jobs` table is not sorted (no particular order). Would the arrays you generated in the `job_title` column of the previous question be the same if we had sorted alphabetically instead before generating them? Explain your answer. To receive full credit, your answer should reference *how* the `.group` method works, and how sorting the `job_title` column would affect this.  **(8 Points)**

*Note:* Two arrays are the **same** if they contain the same number of elements and the elements located at corresponding indexes in the two arrays are identical. An example of arrays that are NOT the same: `array([1,2]) != array([2,1])`.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

**Question 3.** Set `title_ranges` to a table containing experience levels as the rows, and the job title groups as the columns. The values in the rows should correspond to a total salary range, where range is defined as the **difference between the highest total salary and the lowest total salary in the experience level for that job title**. **(9 Points)**

*Hint 1:* First you'll need to define a new function `salary_range` which takes in an array of salaries and returns the range of salaries in that array.

*Hint 2:* What table function allows you to specify the rows and columns of a new table? You probably watched a video on it earlier in the homework!

In [ ]:
# Define salary_range first
...
    ...

title_ranges = ...
title_ranges

In [ ]:
grader.check("q2_3")

<!-- BEGIN QUESTION -->

**Question 4.** Give an explanation as to why some of the row values are `0` in the `title_ranges` table from the previous question. **(8 Points)**

_Type your answer here, replacing this text._

<!-- END QUESTION -->

**Question 5.** Find the number of job titles appearing in the `jobs` table that have an average total salary of less than 100,000 dollars; assign this value to the variable `num_under_100k`. **(9 Points)**

*Hint:* The variable names provided are meant to help guide the intermediate steps and general thought process. Feel free to delete them if you'd prefer to start from scratch, but make sure your final answer is assigned to `num_under_100k`!

In [ ]:
title_and_salary = ...
avg_of_title = ...
num_under_100k = ...
num_under_100k

In [ ]:
grader.check("q2_5")

You're done with Homework 4!  

**Important submission steps:** 
1. Run the tests and verify that they all pass.
2. Choose **Save Notebook** from the **File** menu, then **run the final cell**. 
3. Click the link to download the zip file.
4. Then submit the zip file to the corresponding assignment according to your instructor's directions. 

**It is your responsibility to make sure your work is saved before running the last cell.**

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)